<div class="main">
    <div class="head">
        <img src="../../../assets/img/LogoF.png" style="width: 231px; height: 108px;" alt="logo">
        <div style="display: flex; align-items: center;">
            <button class="btn btn-primary" [routerLink]="['/inicio']" >Continuar Gratis</button>
        </div>
    </div>
    <div class="body py-5">
        <div class="row my-5">
            <h3 style="text-align: center; color: #d9d9d9;">Planes</h3>
        </div>
        <div class="container-fluid row">
            <div class="card mx-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <p>precio: </p>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <p>precio: </p>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            <div class="card mx-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <p>precio: </p>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
    <div class="foot">
        <p>info...</p>
        <a [routerLink]="['/promocion']" >about us</a>
    </div>
</div>