<div class="principal">
    <div class="head">
        <img class="logoimg" src="../../../assets/img/LogoF.png" style="width: 154px; height: 72px;" alt="logo">
        <button type="button" [routerLink]="['/inicio']" class="btn btn-outline-danger btn-cancel">Cancelar</button>
    </div>

    <div class="body">
        <div class="formulario">
            <div style="display: flex; justify-content: center;">
                <h1>Registro</h1>
            </div>
            <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="nombre completo">
                <label for="floatingInput">Nombre completo</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Correo electronico</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingPassword" placeholder="nick123">
                <label for="floatingPassword">Nombre de usuario</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">contraseña</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Verifica tu contraseña</label>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <a href="#">Registrese con Facebook</a>
                <a [routerLink]="['/sesion']"  >Iniciar sesion</a>
            </div>
            <div style="display: flex; justify-content: center;">
                <button type="button" class="btn btn-secondary"
                    style="margin: 15px; width: 150px;">Registrarse</button>
            </div>
        </div>
    </div>

    <div class="foot"></div>

</div>