<div class="head">
    <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-end">
          <button class="btn btn-sm btn-outline-secondary" [routerLink]="['/sesion']" type="button">Iniciar Sesion</button>
          <button class="btn btn-sm btn-outline-secondary" [routerLink]="['/inicio']" type="button">Marco de trabajo</button>
          <button class="btn btn-sm btn-outline-secondary" [routerLink]="['/planes']" type="button">Planes</button>
        </form>
      </nav>
    <img class="logoimg" src="../../../assets/img/LogoF.png" alt="logo">
    <div class="infor-head">
        <p class="text-head">Esta es una plataforma destinada a fomentar el desarrollo web, proveyendo a los usuarios un
            area donde poder
            aprender el uso de las tecnologias del desarrollo web. colaborando con el desarrollo en equipo para trabajar
            de manera colaborativa.
            muestra la interaccion entre las tecnologias html, css y js, las cuales son las principales para el frontend
            que hace parte del
            desarrollo web.
        </p>
    </div>
</div>

<div class="body">
    <h2 class="text-body">Funcionalidades</h2>
    <div class="func">
        <div style="grid-column: 1 / 5;">
            <img src="" alt="img-funcion">
        </div>
        <div style="grid-column: 7 / 12;">
            <h4 class="text-body">desarrolla tus paginas web</h4>
            <p class="text-body">gracias a las tecnologias html, css y js podras crear paginas web, para que empieces en
                este camino o
                mejores aspectos basicos del disenio, estructura y funcionalidad de la web.
            </p>
        </div>
    </div>
    <div class="func">
        <div style="grid-column: 1 / 6;">
            <h4 class="text-body">desarrolla tus paginas web</h4>
            <p class="text-body">gracias a las tecnologias html, css y js podras crear paginas web, para que empieces en
                este camino o
                mejores aspectos basicos del disenio, estructura y funcionalidad de la web.
            </p>
        </div>
        <div style="grid-column: 9 / 13;">
            <img src="" alt="img-funcion">
        </div>
    </div>
    <div class="func">
        <div style="grid-column: 1 / 5;">
            <img src="" alt="img-funcion">
        </div>
        <div style="grid-column: 7 / 12;">
            <h4 class="text-body">desarrolla tus paginas web</h4>
            <p class="text-body">gracias a las tecnologias html, css y js podras crear paginas web, para que empieces en
                este camino o
                mejores aspectos basicos del disenio, estructura y funcionalidad de la web.
            </p>
        </div>
    </div>
</div>

<div class="inter"></div>

<div class="foot">
    <h4 class="text-body">Desarrollador</h4>
    <div>
        <img src="" alt="img-perfil">
    </div>

    <div>
        <p class="text-head">
            Ingeniero en sistemas Henry Giron, desarrollador full stack, hondurenio de la ciudad de tegucigalpa, apasionado por las  matematicas 
            el ajedrez, la inteligencia artificial y la tecnologia en general.
        </p>
    </div>
</div>