<div class="principal">

    <div class="header">
        <img class="logoimg" src="../../../assets/img/LogoF.png" style="width: 154px; height: 72px;" alt="logo">
        <div>
            <button class="btn btn-success btn-borderles" [routerLink]="['/promocion']" style="margin-right: 20px;"
                type="submit">About Us</button>
            <button class="btn btn-success" [routerLink]="['/controlUsuario']"
                style="margin-right: 40px; background-color: #982121;" type="submit">Control
                Usuario</button>
        </div>

    </div>

    <!-- class="navbar-brand" -->
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <div class="navbar-brand">
                <p class="parr"><small>Nombre de usuario</small></p>
                <p class="parr"><small>Titulo de proyecto</small></p>
            </div>
            <div class="navbar-brand">
                <button class="btn btn-success" [routerLink]="['/registro']" style="background-color: #982121;"
                    type="submit">Sing Up</button>
                <button class="btn btn-success" [routerLink]="['/sesion']"
                    style="margin-left: 5px; background-color: #212198;" type="submit">Log
                    In</button>
            </div>
            <div class="navbar-brand">
                <button class="btn btn-success" [routerLink]="['/snippets']" style="background-color: #620581;"
                    type="submit">+ Snippet</button>
            </div>
            <div class="navbar-brand">
                <button class="btn btn-success" style="background-color: #982121;" type="submit">Save</button>
                <button class="btn btn-success" (click)="compilar()"
                    style="margin-left: 5px; background-color: #982121;" type="submit">Run</button>
            </div>
        </div>
    </nav>

    <main class="body">
        <section class="section-assets" style="grid-column: 1 / 3;">

            <div class="descri" style="grid-row: 1 / 4;">
                <p style="color: aliceblue;">Descripcion:</p>
                <p style="color:aliceblue">esta es la descripcion actual<small></small></p>
            </div>
            <h5 style="color: aliceblue; padding-top: 5px;">Assets</h5>
            <div style="grid-row: 5 / 11; overflow: auto;">

                <div style="height: 100%; background-color: #464646; overflow: auto;">
                    <app-gestor-archivos></app-gestor-archivos>
                </div>

            </div>
            <button class="btn-borderles" [routerLink]="['/planes']"
                style="grid-row: 11 / 12; float: left; text-align: left;">
                <i class="fa-sharp fa-solid fa-star"></i>Vuelvete premium
            </button>
            <button class="btn-borderles" style="grid-row: 12 / 13; float: left; text-align: left;">
                <i class="fa-sharp fa-solid fa-gear"></i>Configuraciones
            </button>

        </section>

        <section class="cuadros" style="grid-column: 3 / 13;">
            <form class="cuadro ">
                <div class="form-floating">
                    <textarea class="form-control" [(ngModel)]="codigoHTML" [ngModelOptions]="{standalone: true}"
                        id="floatingTextarea2" placeholder="Leave a comment here"></textarea>
                    <label style="color: #FFF;" for="floatingTextarea2">HTML</label>
                </div>
            </form>

            <form class="cuadro ">
                <div class="form-floating">
                    <textarea class="form-control" [(ngModel)]="codigoCSS" [ngModelOptions]="{standalone: true}"
                        id="floatingTextarea2" placeholder="Leave a comment here"></textarea>
                    <label style="color: #FFF;" for="floatingTextarea2">CSS</label>
                </div>
            </form>

            <form class="cuadro ">
                <div class="form-floating">
                    <textarea class="form-control" [(ngModel)]="codigoJS" [ngModelOptions]="{standalone: true}"
                        id="floatingTextarea2" placeholder="Leave a comment here"></textarea>
                    <label style="color: #FFF;" for="floatingTextarea2">JavaScript</label>
                </div>
            </form>

            <div class="cuadro">
                <iframe [srcdoc]="contenido" frameborder="0" width="100%" height="100%" style="background-color: #bbb;"></iframe>
            </div>


        </section>

    </main>

</div>