<div class="main">
    <div class="head">
        <img src="../../../assets/img/LogoF.png" style="width: 231px; height: 108px;" alt="">
    </div>
    <div class="content">
        <div>
            <select name="" id="">
                <option value="">Java</option>
                <option value="">C#</option>
                <option value="">Python</option>
                <option value="">php</option>
                <option value="">Ruby</option>
            </select>
        </div>
        <div>
            <p>Nombre Archivo</p>
        </div>
        <div>
            <button class="btn btn-primary">Save</button>
            <button class="btn btn-primary" style="margin-left: 10px;">Cancelar</button>
        </div>
    </div>
    <div class="body">
        <div class="codigo"></div>
    </div>
</div>