<ul>
    <li>carpeta</li>
    <li>carpeta</li>
    <li>carpeta</li>
    <li>carpeta</li>
    <li>carpeta</li>
    <li (click)="cambiarLista()" >carpeta mia
        <ul #miElemento>
            <li>archivos</li>
            <li>archivos</li>
            <li>archivos</li>
            <li>archivos</li>
        </ul>
    </li>
    <li>carpeta</li>
    <li>carpeta</li>
    <li>carpeta</li>
    <li>carpeta</li>
    <li>carpeta</li>
    <li>
        <ul>
            <li>archivos</li>
            <li>archivos</li>
            <li>archivos</li>
            <li>archivos</li>
        </ul>
    </li>
    <li>carpeta</li>
    <li>carpeta</li>
    <li>carpeta</li>
    <li>carpeta</li>
    <li>carpeta</li>
    <li>
        <ul>
            <li>archivos</li>
            <li>archivos</li>
            <li>archivos</li>
            <li>archivos</li>
        </ul>
    </li>
</ul>

